.post-icon {
	width: 15px;
	height: 15px;
	margin-right: 2px;
	cursor: pointer;
	padding: 0px;
}
.delete-icon {
	float: right;
	height: 16px;
	margin-right: 2px;
	cursor: pointer;
	padding: 0px;
}

.btn-post {
	background: #ffd512;
	border: 2px solid #242323;
	border-radius: 15px;
	padding: 15px 25px;
	color: #242323;
	display: inline-block;
	font: normal bold 20px/1 "Open Sans", sans-serif;
	text-align: center;
}

.modal {
	position: fixed;
	top: 40%;
	left: 60%;
	transform: translate(-50%, -50%);
	width: 400px;
	padding: 10px;
	box-shadow: 0 5px 30px rgba(0, 0, 0, 0.3);
	background: #fff;
	visibility: hidden;
	opacity: 0;
	transition: 0.5s;
	border-radius: 1rem;
}

.modal.active {
	top: 50%;
	visibility: visible;
	opacity: 1;
	transition: 0.5s;
}

.post-bar {
	float: left;
	width: 100%;
	overflow: hidden;
	background-color: #fff;
	border: 1px solid #e4e4e4;
	border-radius: 1rem;
	margin-bottom: 15px;
	padding: 20px;
	padding-bottom: 0px;
	transition: 0.5s;
	word-wrap: break-word;
}
.post-bar.active {
	pointer-events: none;
	user-select: none;
}
.pos-top {
	float: left;
	width: 100%;
	position: relative;
}
.post-image {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	object-fit: cover;
	float: left;
}
.post-username {
	float: left;
	margin-left: 15px;
}
.post-username h3 {
	color: #000;
	font-size: 16px;
	font-weight: 500;
}
.post-username span {
	color: #b2b2b2;
	font-size: 12px;
}

.post-content {
	float: left;
	width: 100%;
}

.post-content h3 {
	color: #333;
	font-size: 16px;
	font-weight: 600;
	margin-bottom: 15px;
	display: block;
	max-height: 400px;
}
.post-content p {
	color: #666;
	font-size: 15px;
	line-height: 24px;
	margin-bottom: 20px;
}

.post-bottom {
	border-top: 1px solid #e5e5e5;
	float: left;
	width: 100%;
}
ol,
ul,
li {
	list-style: none;
}
.votes {
	float: left;
}
.votes li {
	display: inline-flex;
	margin-right: 15px;
}

.votes li p {
	color: #b2b2b2;
	font-size: 17px;
	font-weight: 500;
	float: left;
	position: relative;
	top: -1px;
}

.follow-bar {
	float: left;
	width: 100%;
	overflow: hidden;
	background-color: #fff;
	border: 1px solid #e4e4e4;
	border-radius: 1rem;
	margin-bottom: 15px;
	padding: 20px;
	word-wrap: break-word;
}

.comment-bar {
	float: left;
	width: 100%;
	overflow: hidden;
	background-color: #fff;
	border: 1px solid #e5e5e5;
	border-top: 0px;
	border-radius: 1rem;
	margin-bottom: 15px;
	word-wrap: break-word;
}

.comment-image {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	object-fit: cover;
	float: left;
}
.comment-username {
	float: left;
	margin-left: 15px;
}
.comment-username h4 {
	color: #000;
	font-size: 12px;
	font-weight: 500;
}
.comment-username span {
	color: #b2b2b2;
	font-size: 10px;
}

.comment-content {
	float: left;
	width: 100%;
}

.comment-content p {
	color: #666;
	font-size: 14px;
	line-height: 24px;
	margin-bottom: 3px;
}

.comment-votes {
	float: left;
}
.comment-votes li {
	display: inline-flex;
	margin-right: 12px;
}

.comment-votes li p {
	color: #b2b2b2;
	font-size: 14px;
	font-weight: 500;
	float: left;
	position: relative;
	top: -1px;
}
.comment-icon {
	width: 13px;
	height: 13px;
	margin-right: 2px;
	cursor: pointer;
	padding: 0px;
}
.comment-delete-icon {
	float: right;
	height: 14px;
	margin-right: 2px;
	cursor: pointer;
	padding: 0px;
}
.customReport {
	background: rgb(34, 193, 195);
	background: linear-gradient(
		90deg,
		rgba(34, 193, 195, 1) 23%,
		rgba(27, 146, 156, 1) 73%
	);
}

.customReport:hover {
	background: rgb(34, 178, 180);
	background: linear-gradient(
		90deg,
		rgba(34, 178, 180, 1) 23%,
		rgba(22, 129, 136, 1) 73%
	);
}
